@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Desarrollo Web para Integración de Tecnologías</h1>
    <h3>Kirubas</h3>
    <p class="lead">
        <ul><li>Anchundia Genésis</li>
        <li>Criollo Karla</li></ul>
    </p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Vehículo</h2>
        <p>
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Agencia</h2>
        <p></p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Marca</h2>
        <p></p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>